.headermenu {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
 

    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.headermenu::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.headermenu button {
   margin: 3px;

}

