@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Righteous&display=swap');

.logo {
    position: relative;
    display: flex;
    margin: 10px;
}
.s{
    font-family: 'Righteous', cursive;
    color: #c4302b;
    font-size: 3em;
}

.i {
    font-family: 'Caveat', cursive;
    color: black;
    font-size: 2em;
}

.sidemenu {
    display: flex;
    position: relative;
}